<!DOCTYPE html>
<html>
<head>
	<title>Lab</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../stylesheets/css/bootstrap.min.css">
	<script src="../stylesheets/js/bootstrap.min.js"></script>
	<style>
		body{
			background-color: rgb(252, 252, 252);
			font-family: sans-serif;
		}
	</style>
</head>
<body>
	<%- include('header') %>

	<div class="m-5 p-5 bg-light">
		<h1 class="text-center">Lab Test</h1>
		<form action="" method="POST">
			<div class="form-row">
				<div class="col-md-4 md-3 p-3">
					<label>Name</label>
					<input class="form-control" type="text" name="name" placeholder="Full Name">
				</div>
				<div class="col-md-4 md-3 p-3">
					<label>Mobile No.</label>
					<input class="form-control" type="number" name="phone" placeholder="Mobile No.">
				</div>
				<div class="col-md-4 md-3 p-3">
					<label>Email</label>
					<input class="form-control" type="email" name="email" placeholder="Email">
				</div>
				<div class="col-md-4 md-3 p-3">
					<label>Test type</label>
					<select class="form-control" name="selectTest" required="">
						<option>Blood Test</option>
						<option>City Scan</option>
						<option>MRI</option>
						<option>Ultrasound</option>
						<option>X-ray</option>
					</select>
				</div>
				<div class="col-md-4 md-3 p-3">
					<label>Date of Birth</label>
					<input class="form-control" type="date" name="dob" placeholder="DOB" required>
				</div>
				<div class="col-md-4 md-3 p-3">
					<label>Sex: </label><br>
					<input type="radio" name="sex" value="Male" required>
					<label>Male</label>
					<input type="radio" name="sex" value="Female">
					<label>Femal</label>
					<input type="radio" name="sex"n value="Other">
					<label>Other</label>
				</div>
				<div class="col-md-4 md-3 p-3">
					<label>City</label>
					<select class="form-control" name="selectCities" required>
							<option>Bangalore</option>
							<option>Chennail</option>
							<option>Delhi</option>
							<option>Mumbai</option>
					</select>
				</div>
			</div>
			<div class="text-center">
				<button class="btn btn-outline-primary btn-lg">Submit</button>
			</div>
		</form>
	</div>


</body>
</html>