<!DOCTYPE html>
<html>
<head>
	<title>Records</title>
</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../stylesheets/css/bootstrap.min.css">
	<script src="../stylesheets/js/bootstrap.min.js"></script>
	<style>
	</style>
<body>

	<%- include('header.ejs') %>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="m-5 p-5 bg-light">
				<form action="" method="POST">
					<div class="form-row">
						<label>Mobile No.</label>
						<input class="form-control" type="text" name="phone" placeholder="Mobile No." size="10">
					</div>
					<div class="form-row">
						<label>Date of Birth</label>
						<input class="form-control" type="date" name="dob" placeholder="DD/MM/YYYY">
					</div>
					<div class="text-center m-2">
						<button class="btn btn-outline-primary">Submit</button>
					</div>
				</form>
				
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>

</body>
</html>